/* min widths */
@media all and (min-width: 400px) {
}

@media all and (min-width: 420px) {
}

@media all and (min-width: 464px) {
}

@media all and (min-width: 476px) {
}

@media all and (min-width: 500px) {
}

@media all and (min-width: 600px) {
}

@media (min-width: 640px) {
}

@media all and (min-width: 768px) {
  .v-hero-content .tab-content .tab-card {
    padding-right: 2.5rem;
    border-right: 1px solid rgba(224, 222, 247, 1);
  }
}

@media only screen and (min-width: 763px) and (max-width: 991px) {
  #v-guest .v-aside-image-layer .v-each-float:nth-of-type(1) {
    transform: translate(10%, -50%) !important;
  }
  #v-guest .v-aside-image-layer .v-each-float:nth-of-type(2) {
    transform: translate(-5%, -3%) !important;
  }
}

@media all and (min-width: 800px) {
}

@media all and (min-width: 992px) {
  #v-guest .v-aside-image-layer .v-each-float:nth-of-type(1) {
    transform: translate(-5%, -50%) !important;
  }
  #v-guest .v-aside-image-layer .v-each-float:nth-of-type(2) {
    transform: translate(15%, -3%) !important;
  }
  .v-hero-content .tab-container {
    position: relative;
    z-index: 10;
    margin-left: 4rem !important;
    margin-right: -12rem !important;
  }
}

@media all and (min-width: 1024px) {
}

@media all and (min-width: 1200px) {
  
}

/* max widths */
@media all and (max-width: 1200px) {
}

@media all and (max-width: 1024px) {
}

@media all and (max-width: 991px) {
  #v-emergencies .v-banner .v-image {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media all and (max-width: 768px) {
}

@media all and (max-width: 650px) {
}

@media all and (max-width: 500px) {
  .v-header {
    padding: 1rem 0.25rem 1rem;
  }
}

@media only screen and (max-width: 575.98px) {
  .v-main-hero .v-aside-image {
    height: 650px;
    max-height: 650px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(1) {
    max-width: 270px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(2) {
    z-index: 10;
    max-width: 220px;
    bottom: -10px;
  }
  .v-main-hero .v-aside-layer .v-each-float:nth-of-type(3) {
    right: 0;
    top: -10px;
  }
  .v-main-hero .v-aside-layer .v-each-float img {
    max-width: 210px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .v-main-hero .v-aside-image {
    height: 710px;
    max-height: 710px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(1) {
    max-width: 310px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(2) {
    z-index: 10;
    max-width: 270px;
    bottom: -15px;
  }
  .v-main-hero .v-aside-layer .v-each-float {
    right: 0;
    top: -5px;
  }
  .v-main-hero .v-aside-layer .v-each-float img {
    max-width: 230px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 909.98px) {
  .v-main-hero .v-aside-image {
    height: 770px;
    max-height: 770px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(1) {
    max-width: 350px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(2) {
    z-index: 10;
    max-width: 310px;
    bottom: -5px;
  }
  .v-main-hero .v-aside-layer .v-each-float:nth-of-type(3) {
    right: 50px;
    top: 0;
  }
}
@media only screen and (min-width: 910px) and (max-width: 991.98px) {
  .v-main-hero .v-aside-image {
    height: 780px;
    max-height: 780px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(1) {
    max-width: 370px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(2) {
    z-index: 10;
    max-width: 330px;
    bottom: -5px;
  }
  .v-main-hero .v-aside-layer .v-each-float:nth-of-type(3) {
    right: 5%;
    top: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .v-main-hero .v-aside-image {
    height: 650px;
    max-height: 650px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(1) {
    max-width: 255px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(2) {
    z-index: 10;
    max-width: 210px;
    bottom: 10px;
    right: -40px;
  }
  .v-main-hero .v-aside-layer .v-each-float:nth-of-type(3) {
    right: -80px;
    top: -10px;
  }
  .v-main-hero .v-aside-layer .v-each-float img {
    max-width: 210px;
  }
}
@media only screen and (min-width: 1200px) {
  .v-main-hero .v-aside-image {
    height: 670px;
    max-height: 670px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(1) {
    max-width: 290px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(2) {
    z-index: 10;
    max-width: 230px;
    bottom: -10px;
    right: 0;
  }
  .v-hero-content .tab-container {
    margin-top: 7rem;
    margin-left: 10.5rem !important;
  }
  .v-main-hero .v-aside-layer .v-each-float:nth-of-type(3) {
    right: 0;
    top: -20px;
  }
  .v-main-hero .v-aside-layer .v-each-float img {
    max-width: 210px;
  }
}

@media only screen and (min-width: 1300px) {
  
}
@media only screen and (min-width: 1500px) {
  .v-main-hero .v-aside-image {
    height: 720px;
    max-height: 720px;
  }
  .v-hero-content .tab-container {
    margin-left: 13.5rem !important;
  }
}

@media all and (max-width: 475px) {
}

@media all and (max-width: 400px) {
}

@media all and (max-width: 375px) {
}

@media all and (max-width: 540px) {
  .v-main-hero .v-aside-image {
    height: 800px;
    max-height: 800px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(1) {
    max-width: 350px;
  }
  .v-main-hero .v-aside-layer .v-aside-card:nth-of-type(2) {
    z-index: 10;
    max-width: 300px;
    bottom: -15px;
  }
  .v-main-hero .v-aside-layer .v-each-float:nth-of-type(3) {
    display: none !important;
  }
}

@media all and (min-width: 768px) and (orientation: landscape) {
}
